ion-toolbar {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;

  --background: transparent;
  --color: white;
}

ion-toolbar ion-button,
ion-toolbar ion-back-button,
ion-toolbar ion-menu-button {
  --color: white;
}

.about-header {
  position: relative;

  width: 100%;
  height: 30%;
}

.about-header .about-image {
  position: absolute;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  opacity: 0;

  transition: opacity 500ms ease-in-out;
}

.about-header .madison {
  background-image: url(/assets/about/madison.jpg);
}
.about-header .austin {
  background-image: url(/assets/about/austin.jpg);
}
.about-header .chicago {
  background-image: url(/assets/about/chicago.jpg);
}
.about-header .seattle {
  background-image: url(/assets/about/seattle.jpg);
}

.about-info {
  position: absolute;
  margin-top: -30px;
  border-radius: 10px;
  background: var(--ion-background-color, #fff);
  padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.about-info h3 {
  margin-top: 0;
}

.about-info ion-list {
  padding-top: 0;
}

.about-info p {
  line-height: 130%;

  color: var(--ion-color-dark);
}

.about-info ion-icon {
  margin-inline-end: 32px;
}
.about_home {
  font-weight: bold;
}
/*
 * iOS Only
 */

.ios .about-info {
  --ion-padding: 19px;
}

.ios .about-info h3 {
  font-weight: 700;
}
.item-contact .title-image {
  position: relative;
  z-index: 2;
  margin: auto;
  width: 88px;
  height: 88px;
  border: 8px solid white;
  line-height: 88px;
  border-radius: 50%;
  background: #8b0cc2;
  vertical-align: middle;
  color: #fff;
  text-align: center;
}
.item-contact .title-image ion-icon {
  font-size: 36px !important;
  color: #fff !important;
  margin: 0!important;
  top: 4px;
  position: relative;
}
.item-contact .info {
  margin-top: -24px;
  background: rgba(0, 0, 0, 0.04);
  border: 1px solid #e0e0e0;
  padding: 27px 0 10px 0;
  min-height: 180px;
  text-align: center;
  margin-bottom: 0;
}
.item-contact .info h3.title {
  font-family: "Robot",sans-serif !important;
  font-size: 16px;
  color: #222;
  font-weight: 700;
  text-align: center;
}
.item-contact .info p {
  font-family: "Robot",sans-serif !important;
  font-size: 13px;
  color: #666;
  line-height: 1.5em;
  margin: 20px;
  text-align: left;
}
.item-contact .info p a{
  font-family: "Robot",sans-serif !important;
  font-size: 13px;
  color: #666;
  line-height: 1.5em;
  margin: 20px;
}
.item-contact .info p ion-icon{
  margin:0!important;
  position: relative;
  top: 2px;
}
.form-contact label {
  width: 100%;
  font-weight: bold;
  font-size: 13px;
  text-align: left;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #2b2a2a;
  line-height: 1.6em;
  font-weight: normal;
  display: block;
}

.form-contact {
  margin-top: 22px;
  margin-bottom: 50px;
}
.form-contact input {
  width: 100%;
  display: block;
  width: 100%;
  height: 42px;
  min-height: 42px;
  padding: 0 10px;
  margin: 0;
  line-height: 22px;
  border: 1px solid #cccccc;
  outline: none;
  background: #fff;
  color: #5f6a7d;
  font: 13px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 15px;
  -webkit-appearance: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 3px;
}
.form-contact textarea {
  display: block;
  width: 100%;
  height: 42px;
  min-height: 42px;
  padding: 0 10px;
  margin: 0;
  line-height: 22px;
  border: 1px solid #cccccc;
  outline: none;
  background: #fff;
  color: #5f6a7d;
  font: 13px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 15px;
  -webkit-appearance: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 3px;
  min-height: 80px;
  padding: 15px 9px;
}
.submit_form button {
  background: #8b0cc2;
  color: #fff;
  border: 1px solid #8b0cc2;
  padding: 0 20px;
  text-align: center;
  cursor: pointer;
  min-height: 42px;
  height: 40px;
  line-height: 1.2;
  vertical-align: top;
  font-family: Muli;
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  transition: all 0.2s linear;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  border-radius: 0;
  display: block;
  padding-left: 40px;
  padding-right: 40px;
  letter-spacing: 2px;
}
ion-content.categorie_product {
  /* padding: 18px!important; */
  /* padding-bottom: 250px!important; */
  --offset-top: -69px!important;
}

ion-content.categorie_product .product_info {
  margin: 10px;
  color: #000;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  position: relative;
}

ion-content.categorie_product .product_info:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

ion-content.categorie_product .product_info>p {
  font-weight: bold;
  text-transform: uppercase;
}
ion-icon.icon-back {
  font-size: 37pt;
}
.comment_product {}

.comment_product .login-form {
    margin: 0;
    box-shadow: none;
    width: 100%;
    max-width: 100%;
    border-bottom: 1px solid #ddd;
}

.product-details.container {
    border-bottom: 1px solid #ddd;
    padding-bottom: 4px;
}

.product-details.container h2 {
    margin: 0;
}

.product-information {
    padding: 10px;
}

.description.product p {
    margin: 0;
}

.description.product {
    padding-left: 16px;
    margin-top: 11px;
    border-bottom: 1px solid #ddd;
}

.comment_product .login-form textarea {
    width: 100%;
    border: 1px solid #ddd;
}
ion-toolbar {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;

  --background: transparent;
  --color: white;
}

ion-toolbar ion-button,
ion-toolbar ion-back-button,
ion-toolbar ion-menu-button {
  --color: white;
}

.about-header {
  position: relative;

  width: 100%;
  height: 30%;
}

.about-header .about-image {
  position: absolute;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  opacity: 0;

  transition: opacity 500ms ease-in-out;
}

.about-header .madison {
  background-image: url(/assets/about/madison.jpg);
}
.about-header .austin {
  background-image: url(/assets/about/austin.jpg);
}
.about-header .chicago {
  background-image: url(/assets/about/chicago.jpg);
}
.about-header .seattle {
  background-image: url(/assets/about/seattle.jpg);
}

.about-info {
  position: absolute;
  margin-top: -30px;
  border-radius: 10px;
  background: var(--ion-background-color, #fff);
  padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.about-info h3 {
  margin-top: 0;
}

.about-info ion-list {
  padding-top: 0;
}

.about-info p {
  line-height: 130%;

  color: var(--ion-color-dark);
}

.about-info ion-icon {
  margin-inline-end: 32px;
}
.about_home {
  font-weight: bold;
}
/*
 * iOS Only
 */

.ios .about-info {
  --ion-padding: 19px;
}

.ios .about-info h3 {
  font-weight: 700;
}
.item-contact .title-image {
  position: relative;
  z-index: 2;
  margin: auto;
  width: 88px;
  height: 88px;
  border: 8px solid white;
  line-height: 88px;
  border-radius: 50%;
  background: #8b0cc2;
  vertical-align: middle;
  color: #fff;
  text-align: center;
}
.item-contact .title-image ion-icon {
  font-size: 36px !important;
  color: #fff !important;
  margin: 0!important;
  top: 4px;
  position: relative;
}
.item-contact .info {
  margin-top: -24px;
  background: rgba(0, 0, 0, 0.04);
  border: 1px solid #e0e0e0;
  padding: 27px 0 10px 0;
  min-height: 180px;
  text-align: center;
  margin-bottom: 0;
}
.item-contact .info h3.title {
  font-family: "Robot",sans-serif !important;
  font-size: 16px;
  color: #222;
  font-weight: 700;
  text-align: center;
}
.item-contact .info p {
  font-family: "Robot",sans-serif !important;
  font-size: 13px;
  color: #666;
  line-height: 1.5em;
  margin: 20px;
  text-align: left;
}
.item-contact .info p a{
  font-family: "Robot",sans-serif !important;
  font-size: 13px;
  color: #666;
  line-height: 1.5em;
  margin: 20px;
}
.item-contact .info p ion-icon{
  margin:0!important;
  position: relative;
  top: 2px;
}
.form-contact label {
  width: 100%;
  font-weight: bold;
  font-size: 13px;
  text-align: left;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #2b2a2a;
  line-height: 1.6em;
  font-weight: normal;
  display: block;
}

.form-contact {
  margin-top: 22px;
  margin-bottom: 50px;
}
.form-contact input {
  width: 100%;
  display: block;
  width: 100%;
  height: 42px;
  min-height: 42px;
  padding: 0 10px;
  margin: 0;
  line-height: 22px;
  border: 1px solid #cccccc;
  outline: none;
  background: #fff;
  color: #5f6a7d;
  font: 13px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 15px;
  -webkit-appearance: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 3px;
}
.form-contact textarea {
  display: block;
  width: 100%;
  height: 42px;
  min-height: 42px;
  padding: 0 10px;
  margin: 0;
  line-height: 22px;
  border: 1px solid #cccccc;
  outline: none;
  background: #fff;
  color: #5f6a7d;
  font: 13px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 15px;
  -webkit-appearance: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 3px;
  min-height: 80px;
  padding: 15px 9px;
}
.submit_form button {
  background: #8b0cc2;
  color: #fff;
  border: 1px solid #8b0cc2;
  padding: 0 20px;
  text-align: center;
  cursor: pointer;
  min-height: 42px;
  height: 40px;
  line-height: 1.2;
  vertical-align: top;
  font-family: Muli;
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  transition: all 0.2s linear;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  border-radius: 0;
  display: block;
  padding-left: 40px;
  padding-right: 40px;
  letter-spacing: 2px;
}
ion-content.categorie_product {
  /* padding: 18px!important; */
  /* padding-bottom: 250px!important; */
}

ion-content.categorie_product .product_info {
  margin: 10px;
  color: #000;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  position: relative;
}

ion-content.categorie_product .product_info:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

ion-content.categorie_product .product_info>p {
  font-weight: bold;
  text-transform: uppercase;
}
ion-icon.icon-back {
  font-size: 37pt;
}
.comment_product {}

.comment_product .login-form {
    margin: 0;
    box-shadow: none;
    width: 100%;
    max-width: 100%;
    border-bottom: 1px solid #ddd;
}

.product-details.container {
    border-bottom: 1px solid #ddd;
    padding-bottom: 4px;
}

.product-details.container h2 {
    margin: 0;
}

.product-information {
    padding: 10px;
    text-align: center;
}
.view-product {
  position: relative;
}

.view-product h2 {
  background: rgba(139, 12, 194, 0.8);
  margin: 0;
  padding: 5px 15px;
  color: #fff;
  font-size: 23px;
  line-height: 1.3em;
  /* padding-top: calc(50% - 150px); */
  font-style: italic;
  position: absolute;
  bottom: 5px;
}

.view-product h2.grame {
  right: 0;
}

.description.product p {
    margin: 0;
}

.description.product {
    padding-left: 16px;
    margin-top: 11px;
    border-bottom: 1px solid #ddd;
}

.comment_product .login-form textarea {
    width: 100%;
    border: 1px solid #ddd;
}